@import 'scssfiles/Nav';
@import 'scssfiles/home';
@import 'scssfiles/slect.scss';
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');


body{
  background-color: #fff !important;
  // font-family: Arial, Helvetica, sans-serif !important;
  color: #000 !important;
}
.container{
    // max-width: 507px;
    // padding: 0 20px;
    margin: auto;
    direction: rtl;
    background-color: #fff !important;
}
.section-title{
  font-size: 32px;
  color: #000;
  text-decoration: none;
   padding :0 2px;
   display: inline-block;
   margin-bottom: 5px;
}
.upload{
    width: 90%;
    margin:5px auto;
    text-align: center;
    padding:15px;
    background-color: #fe7701;
    color: #fff;

}
.landing-news-container{
  display: block;
 overflow: auto;
 white-space: nowrap;
 direction: rtl;
 float: right;
 width: 100%;
 background-color: #fff;
 padding: 20px;

    .news-item{
        display: inline-block;
        width:calc( 100% / 3);
        position: relative;
        text-align: center;
        position: relative;
       
      .overlayer{
        background-color: #0000008c;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .text{
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 100%;
        height: auto;
        padding:2px;
        color: #fff;
        font-size: 16px;
      }
    }
   
}
.landing-news-container::-webkit-scrollbar {
    display: none;
  }

  .subscribe{
    text-align: center;

    color: #fff;
    font-size: 18px;
    .logo{
      width: 80px;
      height: 80px;
      display: block;
      margin: 10px auto;
    }
    .subscribe-image{
      display: block;
      margin: auto;
    }
    .title{
      color: #fe7701;
      font-size: 30px;
      margin-top: -50px;
    }
    button{
      background: #f37008;
      color: #fff;
      width: 480px;
      max-width: 90%;
      padding: 6px 10px;
      margin-top: 20px;
      font-size: 26px;
    }
  }
  // .footer{
  //   font-size: 14px;
  //   max-width: 500px;
  //   font-size: 14px;
  //  margin: 0;
  //  padding: 0;
  //   color: #fff;
  //   text-align: center;
  //   background-color: #000;


  //   .logo{
  //     width: 80px;
  //     height: 80px;
  //     display: block;
  //     margin: 10px auto;
  //   }

  //   .long-line{
  //     height: .2px;
  //     width: 100%;
  //     background-color: #fff;
  //   }
  //   .short-line{
  //     height: .2px;
  //     width: 70%;
  //     margin: 10px auto;
  //     margin-bottom: 30px;
  //     background-color: #fff;
  //   }
  //   .footer-link{
  //     text-align: right;
  //     border-bottom: solid 1px #fff;
  //     padding: 10px 5px ;
  //     margin: 0 10px;
  //     .left{
  //       float: left;
  //     }
  //   }
  //   footer{
  //     margin-top: 30px;
  //   }
  //   .social{
  //     display: inline-block;
  //     background-color: #f37008;
  //     color: #fff;
  //     border-radius: 50%;
  //     padding: 5px;
  //     font-size: 22px;
  //     margin: 3px;
  //     margin-top: 20px;

  //   }
   

  // }
  .footer{
    background-color: #000;
    padding: 40px;
    padding-bottom: 60px;
    direction: rtl;
    color: #fff;
    img{
      margin-top: 30px;
      vertical-align: top;
      display: inline-block;
    }
    .site-name{
      font-size: 18px;
      display: inline-block;
      margin-top: 40px;
    }
    .links{
      width: 100%;
      margin: 30px 0;
      border-bottom: solid 1px #4E4949;
      padding-bottom: 30px;
      color: #CCBEBE;
      .link{
        display: inline-block;
        text-align: center;
        width: 25%; 
        cursor: pointer;
      }
    }
    .lastline{
      .left{
        float: left;
        font-size: 12px;
      }
      .social{
        display: inline-block;
        color: #FF7A01;
        margin: 0 10px;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
  .static-pages{
  color: #000;
  direction: rtl;
   padding:0 30px  50px 30px;
  .title{
    font-size: 32px;
    font-weight: 700;
    margin-top: 30px;
   }
    p{
      padding: 30px 10px ;
      text-align: right;
      font-size: 18px;
    }
  }


/* upload videos */
.upload-video{
  color: #000;
 
  margin-bottom: 100px;
text-align: right;
.title{
  font-size: 28px;
  font-weight: 700;
  margin-top: 30px;
 }
  video{
    margin: auto;
  }
  
}


#video_input{
display: none;
}
#uploaded-data{
display: none;
}
.upload-qoute{
  color: #fff;
  margin: 20px;
}
#upload-msg{

  width:80%;
  background-color: #fff;
  color: #000;
  padding: 10px;
  display: none;


}

.upload-msg{
text-align: right;
width: 320px;
margin: auto;
}
.video-describtion{
 width: 260px;
 margin:5px auto;
 text-align: right;
 color: #ff7200;

}
.upload-video-input{
  width: 320px;
  text-align: right;
  border-radius: 8;
  border-radius: 8px;

  
}
.upload-video-label{
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
  margin-top: 20px;
}
.upload-video-textarea {
  width: 100%;
  height: 152px;
  outline: none;
  margin: 5px 0;
  padding: 5px 7px;
  direction: rtl;
  border:  solid 1px #817E7E;
  color: #817E7E;
font-size: 16px;
font-weight: 700;
  padding:8px;
  border-radius: 8px;

  @media screen and (max-width: 700px){
    width: 75%;

  }
}
.upload-video-textarea::placeholder{
color: #817E7E;
font-size: 12px;
}
.link-button{
  background-color: #ff7200;
  width: 320px;
  padding: 5px;
  margin: 20px auto;
  border-color: #000;
  color: #fff;
  
}
.video-link,.video-link:hover{
  color: #fff;
  
}
.like-video{
  margin: auto;
  background-color: #000;
  color: #fff;
  margin-bottom: 50px;
  width: 104px;
  height: 50px;
}
.remove-vote{
  // display: none;

}
.competetion-video{
  background-color: #000;
  height: 150px;
}
.competetion-video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;}
.videoplayer{
  background-color: #000;
  position: fixed;
  top: 80px;
  right: 0;
  width: 99vw;

}
.video-player-close{
position: absolute;
top: 5px;
right: 10px;
width: auto;
color: #fff;
cursor: pointer;
z-index: 999999999999;
padding: 7px;

}
.videoplayer-description{
  background-color:#000;
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  direction: rtl;
}
.vote-number{
  font-size: 14px;
}
.vote-onplayer, .video-decision{
  float: left;
  background: black;
  color: #fff;
  border: solid 2px #ff7200;
  padding: 5px 29px;
  margin: 2px;
}
.video-decision{
  display: block;

}
.player-remove-vote{
  // display: none;
}
.flash-msg{
  position: fixed;
  top: 200px;
  background-color: #ffff;
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
  color: #000;
  width: 270px;
  padding: 20px;
  text-align: center;
  left: calc(50vw - 135px);
  display: none;
  z-index: 9999999999999;
}
.flash-msg button{
  background-color: #000;
  color: #fff;
  margin-top: 5px;
}
.competition-name{
  color: #ffff;
  text-align: right;
  padding: 5px 10px;
}

//news
.single-news{
  direction: rtl; 
  .newsimage{
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
  }
  .news-title{
   
    font-size: 20px;
    margin: 10px;
    margin-bottom: 5px;
    color: #fe7701;
  }
  p{
    font-size: 18px;
    margin:0 10px;
    margin-bottom: 20px;
  }

}
.news-page{
  max-width: 500px;
  margin: auto;
  .single-news-inallnews{
    position: relative;
   
    //  display:'block';
    //   margin:'auto';
    .title{
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      padding: 10px;
      direction: rtl;
      font-size: 18px;
      background-color: rgb(0 0 0 / 65%);;
    }
  }

}
.all-videos{
  direction: rtl;
  max-width: 500px;
  margin: auto;
  .categories{
    // border: solid 1px #fe7701;
    width:fit-content;
    border-radius: 35px;
    margin: 20px auto;
   

    .category{
     padding:6px;
      color: #fe7701;
      border: solid 1px   #fe7701;
    }
    .first{
      border-top-right-radius: 15px;
      border-bottom-right-radius:15px ;
    }
    .last{
      border-top-left-radius: 15px;
      border-bottom-left-radius:15px ;
    }
    .active{
      background-color: #fe7701;
      color: #fff;
     
    }
  }
}
.categories{
  // border: solid 1px #fe7701;
  width:fit-content;
  border-radius: 35px;
  margin: 20px auto;
 

  .category{
   padding:6px;
    color: #fe7701;
    border: solid 1px   #fe7701;
  }
  .first{
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px ;
  }
  .last{
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px ;
  }
  .active{
    background-color: #fe7701;
    color: #fff;
   
  }
}

.text-success{
  color: #4ebf71;
}
.text-warning{
  color: #fea62b;
}
.text-danger{
  color: #b93c5b;
}

.heart{
  text-align: center;
}
.videos-page{
  direction: rtl;
  grid-template-columns: auto auto  !important;
  grid-column-gap: 50px;
 
  align-items: center;
  justify-content: center;
  .video-box{
    color: #000;
    
    width: 50vw;
  
 margin: auto;
 text-align: right;
  position: relative;
  @media screen and (max-width: 700px){
   
    width: 80vw;

}
video{
  width:100%;
  max-width:100%;


 }

  }

}
.page-hierarchy{
  color: #4B4A4A;
  font-size: 20px;
  text-align: right;
  .parent{
   
    
  }
  .arow-icon{
    display: inline-block;
    vertical-align: middle;
  }
  .child{
    color: #FF7A01;
  }
}
.page-title{
  direction: rtl;
  font-size: 32px;
  font-weight: 700;
  margin-top: 30px;
}
.page{
padding:0 30px  50px 30px;;
direction: rtl;
.page-title {
 margin-top: 10px;
 font-size: 24px;
 font-weight: bold;
}
.section-title{
  font-size: 22px;
  font-weight: bold;

  margin-top: 40px;

}
}
.add-vid-button{
  padding: 8px 20px;
  border-radius: 8px;
  border: 1px solid #FF7A01;
  font-weight: 700;
  float: left;
  &:hover{
    background-color: #FF7A01;
    color: #fff;
  }
}
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: #00000086;
  z-index: 99;
  text-align: center;
  .overlay-text{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    
  }

.white-background{
  text-align: none;
  background-color: #fff;
  width: 50%;

  position: absolute;
  top: 20%;
  left: 25%;
  border-radius: 8px;
  @media screen and (max-width: 1600px){
    width: 70%;
    top: 20%;
    left: 10%;
  }
  .left-section{
    display: inline-block;
    padding: 10px;
    float: left;
    direction: ltr;
    @media screen and (max-width: 1070px){
   
    display: block;
 
    float: right;
  
  }
  
    .video-upload-button{
      height: 288px;
      margin: 10px;
      padding: 0px 100px;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      color: #FF7A01;
      border: 1px dashed #FF7A01;
      font-size: 24px;
      font-weight: 700;
      max-width: 100%;
      @media screen and (max-width: 630px){
   
        padding: 0px 50px;
    
    }

    }
    // 344.44*288
    .actions{
      margin: 10px auto;
      text-align: center;
  
      .video-action-upload-button{
        background: #17A952;
        color: #fff;
        border: none;
        padding:10px 20px;
        margin: 2px;
        margin-bottom: 10px;
        border-radius: 8px;
        font-weight: 700;
      }
      .video-upload-delete{
        background-color: #E7270C;
      
      }
    }
  }
  .right-section{
    display: inline-block;
    padding: 20px;
      @media screen and (max-width: 1070px){
   
    display: block;
    width: 100%;
  
   
  
  }
  }
}
}