body{
  background-color: #000 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  color: #fff !important;
}
.container{
    max-width: 507px;
    margin: auto;
    direction: rtl;
    background-color: #000 !important;
}
.section-title{
    color: #fe7701;
    font-weight: bold!important;
    text-decoration: none;
    padding :0 2px;
}
.upload{
    width: 90%;
    margin:5px auto;
    text-align: center;
    padding:15px;
    background-color: #fe7701;
    color: #fff;
}
.landing-news-container{
 overflow: auto;
 white-space: nowrap;
 direction: rtl;
 float: right;
    .news-item{
        display: inline-block;
        width:calc( 100% / 3);
        position: relative;
        text-align: center;
        position: relative;
       
      .overlayer{
        background-color: #0000008c;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .text{
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 100%;
        height: auto;
        padding:2px;
        color: #fff;
        font-size: 16px;
      }
    }
   
}
.landing-news-container::-webkit-scrollbar {
    display: none;
  }

  .subscribe{
    text-align: center;

    color: #fff;
    font-size: 18px;
    .logo{
      width: 80px;
      height: 80px;
      display: block;
      margin: 10px auto;
    }
    .subscribe-image{
      display: block;
      margin: auto;
    }
    .title{
      color: #fe7701;
      font-size: 30px;
      margin-top: -50px;
    }
    button{
      background: #f37008;
      color: #fff;
      width: 480px;
      max-width: 90%;
      padding: 6px 10px;
      margin-top: 20px;
      font-size: 26px;
    }
  }
  .footer{
    font-size: 14px;
    max-width: 500px;
    font-size: 14px;
    margin: 12px auto;
    color: #fff;
    text-align: center;


    .logo{
      width: 80px;
      height: 80px;
      display: block;
      margin: 10px auto;
    }

    .long-line{
      height: .2px;
      width: 100%;
      background-color: #fff;
    }
    .short-line{
      height: .2px;
      width: 70%;
      margin: 10px auto;
      margin-bottom: 30px;
      background-color: #fff;
    }
    .footer-link{
      text-align: right;
      border-bottom: solid 1px #fff;
      padding: 10px 5px ;
      margin: 0 10px;
      .left{
        float: left;
      }
    }
    footer{
      margin-top: 30px;
    }
    .social{
      display: inline-block;
      background-color: #f37008;
      color: #fff;
      border-radius: 50%;
      padding: 5px;
      font-size: 22px;
      margin: 3px;
      margin-top: 20px;

    }
   

  }
  .static-pages{
    color: #fff;
    p{
      padding: 30px 10px ;
      text-align: right;
      font-size: 18px;
    }
  }


  
/* upload videos */
.upload-video{
  color: #fff;
  margin:10px auto;
  text-align: center;
  margin-bottom: 100px;

  video{
    margin: auto;
  }
  
}
.video-upload-button{
  display: block;
  background-color: #ff7900;
  color: #fff;
  padding:5px 20px;
  margin: 10px auto;
  width: 320px;
}
.video-action-upload-button{
  background: #135e13;
  color: #fff;
  border: none;
  padding:5px 20px;
  margin: auto;
  margin-bottom: 10px;
}
.video-upload-delete{
  background-color: #c11212;

}
#video_input{
display: none;
}
#uploaded-data{
display: none;
}
.upload-qoute{
  color: #fff;
  margin: 20px;
}
#upload-msg{

  width:80%;
  background-color: #fff;
  color: #000;
  padding: 10px;
  display: none;


}

.upload-msg{
text-align: right;
width: 320px;
margin: auto;
}
.video-describtion{
 width: 320px;
 margin: auto;
 text-align: right;
 color: #ff7200;

}
.upload-video-input{
  width: 320px;
  margin: auto;
  text-align: right;
}
.upload-video-label{
  display: block;
  font-size: 12px;
  color: #ff7200;
  margin-bottom: -1px;
}
.upload-video-textarea {
  width: 100%;
  height: 80px;
  outline: none;
  margin: 5px 0;
  padding: 5px 7px;
  direction: rtl;
  border:  solid 1px #000;
}
.upload-video-textarea::placeholder{
color: #000;
font-size: 12px;
}
.link-button{
  background-color: #ff7200;
  width: 320px;
  padding: 5px;
  margin: 20px auto;
  border-color: #000;
  color: #fff;
  
}
.video-link,.video-link:hover{
  color: #fff;
  
}
.like-video{
  margin: auto;
  background-color: #000;
  color: #fff;
  margin-bottom: 50px;
  width: 104px;
  height: 50px;
}
.remove-vote{
  display: none;

}
.competetion-video{
  background-color: #000;
  height: 150px;
}
.competetion-video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;}
.videoplayer{
  background-color: #000;
  position: fixed;
  top: 80px;
  right: 0;
  width: 99vw;
  display: none;
}
.video-player-close{
position: absolute;
top: 5px;
right: 10px;
width: auto;
color: #fff;
cursor: pointer;
z-index: 999999999999;
padding: 7px;

}
.videoplayer-description{
  background-color:#000;
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  direction: rtl;
}
.vote-number{
  font-size: 14px;
}
.vote-onplayer, .video-decision{
  float: left;
  background: black;
  color: #fff;
  border: solid 2px #ff7200;
  padding: 5px 29px;
  margin: 2px;
}
.video-decision{
  display: block;

}
.player-remove-vote{
  display: none;
}
.flash-msg{
  position: fixed;
  top: 200px;
  background-color: #ffff;
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
  color: #000;
  width: 270px;
  padding: 20px;
  text-align: center;
  left: calc(50vw - 135px);
  display: none;
  z-index: 9999999999999;
}
.flash-msg button{
  background-color: #000;
  color: #fff;
  margin-top: 5px;
}
.competition-name{
  color: #ffff;
  text-align: right;
  padding: 5px 10px;
}

//news
.single-news{
  direction: rtl; 
  .newsimage{
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
  }
  .news-title{
   
    font-size: 20px;
    margin: 10px;
    margin-bottom: 5px;
    color: #fe7701;
  }
  p{
    font-size: 18px;
    margin:0 10px;
    margin-bottom: 20px;
  }

}
.news-page{
  max-width: 500px;
  margin: auto;
  .single-news-inallnews{
    position: relative;
   
    //  display:'block';
    //   margin:'auto';
    .title{
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      padding: 10px;
      direction: rtl;
      font-size: 18px;
      background-color: rgb(0 0 0 / 65%);;
    }
  }

}
.all-videos{
  direction: rtl;
  max-width: 500px;
  margin: auto;
  .categories{
    // border: solid 1px #fe7701;
    width:fit-content;
    border-radius: 35px;
    margin: 20px auto;
   

    .category{
     padding:6px;
      color: #fe7701;
      border: solid 1px   #fe7701;
    }
    .first{
      border-top-right-radius: 15px;
      border-bottom-right-radius:15px ;
    }
    .last{
      border-top-left-radius: 15px;
      border-bottom-left-radius:15px ;
    }
    .active{
      background-color: #fe7701;
      color: #fff;
     
    }
  }
}
.categories{
  // border: solid 1px #fe7701;
  width:fit-content;
  border-radius: 35px;
  margin: 20px auto;
 

  .category{
   padding:6px;
    color: #fe7701;
    border: solid 1px   #fe7701;
  }
  .first{
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px ;
  }
  .last{
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px ;
  }
  .active{
    background-color: #fe7701;
    color: #fff;
   
  }
}

.text-success{
  color: #4ebf71;
}
.text-warning{
  color: #fea62b;
}
.text-danger{
  color: #b93c5b;
}

.heart{
  text-align: center;
}
