.videos-grid{
  direction: rtl;
    display: flex;
   flex-wrap: wrap;
    justify-content: space-between;
   
    padding: 20px 0;
    align-items: center;
 
    @media screen and (max-width: 1100px){
      
    
    }
    @media screen and (max-width: 720px){
       display: block;
    
    }
  
}
.video-box{
  float: 1  21% !important;
    color: #000;
    direction: rtl;
    width: calc(90%/ 3 );
    
  position: relative;
  border-radius: 8px;
  @media screen and (max-width: 1100px){
   
  width: calc(90% / 2 );

}

@media screen and (max-width: 775px){
  width: 90%;

}
@media screen and (max-width: 550px){
  width: 100%;
  // min-width: 352px;

}

.rel{
  position: relative;
  .play-icon{
    position: absolute;
    top: calc( 50% - 15px);
    left:calc( 50% - 15px);
    color: #fff;
    padding: 6px;
    border-radius: 50%;
    font-size: 22px;
    background-color: #292D32CC;
    z-index: 19;
    cursor: pointer;
  }
}
  video{
    width: 100%;
    height: 210px;
    border-radius: 8px;
    background: #EDCFB7;
    object-fit:fill;
    @media screen and (max-width: 500px){
      width: 100%;
      height: auto;
    
    }
  }
  .video-info{
    display: inline-block;
    float: left;
    direction: ltr;
    font-size: 16px;
    margin-left: -7px;
    margin-top: 5px;
    color: #000000ce;
    span{
      display: inline-block;
      margin: 0 0 0 10px;
      font-size: 20px;
      vertical-align: middle;
      cursor: pointer;
    }
 
  
  }
  .userName{
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin: 3px 0;
    margin-top: 5px;
  }
  .videoname{
    color: #656464;
    font-size: 14px;
    display: inline-block;
    font-weight: 600;
    @media screen and (max-width: 263px){
      font-size: 10px;
      vertical-align: super;
    
    }
    
  }
  .video-time{
    font-size: 14px;
    color: #656464;
    display: inline-block;
    float: left;
    @media screen and (max-width: 263px){
      font-size: 10px;
    
    }
    span{
      display: inline-block;
      vertical-align: middle;
    }
   
  }
  .like-vid{
    position: absolute;
    top: 8px;
    left: 10px;
    z-index:  19;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  
  }
  .list{
    position: absolute;
    top: 27px;
    right: 15px;
    z-index:  99999999;
    background-color: #fff;
    color: #0000009d;
    font-size: 16px;
    padding: 15px 17px ;
    border-radius: 8px;
  
    div{
      cursor: pointer;
      &:hover{
        color: #000;
      }
      span{
      display: inline-block;
      vertical-align: middle;
      margin: 5px 3px;
    }
  }
  
  }
  .share-vid{
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 99999999999999999999999999 !important;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  
  
  }
  .vote{
    background-color: #fff;
    color: #FF7A01;
    border:solid 1px #FF7A01;
    width: 100%;
    text-align: center;
    padding: var(--number-border-1, 8px);
    justify-content: center;
    height: 45px;
    border-radius: 7px;
    margin: 4px 0;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover{
      color: #fff;
      background-color: #fe7701;
    }
  }
  .refuse-msg{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
    span{
       color: red;
       display: inline-block;
       vertical-align: middle;
       margin-left: 2px;
    }
   }
  }
  .section-page{
    float: left;
    color: #FF7A01; 
    direction: ltr;
    display: inline-block;
    padding :0 2px;
font-size: 15px;
width: 108px;

padding: 5px;
text-align: center;
font-weight: 700;
border-radius: 10px;
border: 1px solid #FF7A01;
margin-bottom: 10px;
&:hover{
  background-color: #FF7A01;
  color: #fff;
 }
cursor: pointer;

  }
    
  .news-row{
    display: block;
    z-index: 999999;
    background-color: #fff;
    width: 100%;
    max-width: 100vw;
    margin-top: 20px;
    margin-bottom: 50px;
    a{
      cursor: pointer;
      color: #fe7701;
    }
    img{
        width: 217px;
        height: 207px;
        display: inline-block;
        vertical-align: top;
        margin: auto;
        @media screen and (max-width: 600px){
          display: block;
           width: 100%;
           height: auto;
        
        }
    }
    .news-info{
        display: inline-block;
        color: #000;
        max-width: calc( 100% - 217px);
        margin: 10px;
        margin-top: -10px;
        overflow: hidden;
        @media screen and (max-width: 600px){
           display: block;
           width: 100%;
        
           margin: 0px;
          max-width: 98vw;
         
         }
        .title{
            color: #000;
            font-size: 24px;
            font-weight: 700;
            margin-top: 8px;
            white-space: normal;
        }
        p{
          display: inline-block;
           width:100%;
           padding-left: 5px;
          
            white-space: normal;
            text-overflow: ellipsis;
           font-size: 20px;
           max-height: 155px;
           overflow: hidden;
           &:hover{
            max-height: none;
           }
           @media screen and (max-width: 600px){
             display: block;
             width: 100%;
            font-size: 14px;
       
          
          }
        //    .news-info{
        //     display: inline-block;
        //     color: #000;
        //     max-width: calc( 100vw - 217px);
        //     margin: 10px;
        //     margin-top: -10px;
        //     @media screen and (max-width: 600px){
        //        display: block;
        //        width: 98vw;
        //        max-width:98vw !important;
        //        margin: 0px;
        //           overflow: hidden;
             
        //      }
        //     .title{
        //         color: #000;
        //         font-size: 28px;
        //         font-weight: 700;
        //         margin: 5px 0;
             
    
        //     }
        //     p{
        //        width:90%;
        //         padding: 10px;
        //        text-wrap: balance;
        //        white-space: normal ;
        //     }
        // }
        }
    }
  }
  .carousel-root{
    padding: 0 120px ; 
    margin-bottom: 64px;
    @media screen and (max-width: 1100px){
   
    
      padding: 0 56px;
    
    }
    @media screen and (max-width: 775px){
      padding: 0 56px;
    
    }
    @media screen and (max-width: 550px){
      padding: 0 24px;
    
    }
  }
  .legend{
    direction: rtl;
    left:46% !important;

    top: 30%;
    width: 50vw !important;
    // height: 202px !important;
 padding-left: 10px !important;
    opacity: 1 !important;
    background-color: inherit  !important;
    // float: left;
    font-size: 40px!important;
    text-align: right !important;
    @media screen and (max-width: 1280px){
      font-size: 1.7rem !important;
    
    }
    @media screen and (max-width: 770px){
      font-size: 1rem !important;
      top: 30% !important;
    }
    @media screen and (max-width: 500px){
      font-size: .7rem !important;
      // top: 20px;
    }
    .actions{
     margin: auto;
    }
     .add-vid{
      width: 250px;
     display: inline-block;
     background-color: #FF7A01;
     color: #fff;
     margin:24px 4px;
     padding:8px;
     font-size: 24px;
     border-radius: 16px;
     @media screen and (max-width: 1040px){
      
      width: auto;
      font-size: 1.5rem;
       
     
    }
     @media screen and (max-width: 880px){
      
      font-size: 14px;
        margin:8px 4px;
        width: auto;
        padding:5px 10px;
      
     
    }
    @media screen and (max-width: 500px){
      
      font-size: 12px;
      padding: 5px 10px;
      border-radius: 10px;

       
     
    }
     }
     .competition{
       background-color: inherit;
       color: #fe7701;
       margin:24px 4px;
       padding: 8px;
       font-size: 24px;
       font-weight: 700;
       border: solid 1px #FF7A01;
       border-radius: 16px;
       width: 250px;
       &:hover{
        background-color: #FF7A01;
        color: #fff;
       }
  
       @media screen and (max-width: 1280px){
      
       
       width: 170px;
       
    }
    @media screen and (max-width: 1040px){
      
      width: auto;
      font-size: 1.5rem;
       
     
    }
       @media screen and (max-width: 880px){
      
       
        font-size: 14px;
        margin:8px 4px;
        width: auto;
        padding:5px 15px;
       
    }
    @media screen and (max-width: 500px){
      
    
      font-size: 12px;
      padding:5px 10px;
      border-radius: 10px;
     
    }
     }
     .dot{
      background-color: #FF7A01 !important;
     }
  }
  .first-slide{
  left: 42% !important;
  font-size: 3.3rem !important;

  @media screen and (max-width: 1280px){
    font-size: 2rem !important;
    top: 25% !important;
  
  }
  @media screen and (max-width: 862px){
    font-size: 1.7rem !important;
    
  }
  @media screen and (max-width: 770px){
    font-size: 1.5rem !important;
    top: 30% !important;
  }
  @media screen and (max-width: 650px){
    font-size: 1.1rem !important;
    // top: 20px;
  }
  @media screen and (max-width: 500px){
    font-size: .8rem !important;
    top: 15% !important;
  }
  @media screen and (max-width: 360px){
    font-size: .7rem !important;
    top: 5% !important;
  }
  }
  .second-slide{
    left: 45% !important;
    font-size: 3.3rem !important;
    @media screen and (max-width: 1280px){
      font-size: 1.7rem !important;
      top: 25% !important;
    
    }
    @media screen and (max-width: 770px){
      font-size: 1rem !important;
      top: 30% !important;
    }
    @media screen and (max-width: 500px){
      font-size: .7rem !important;
      top: 15% !important;
    }
    @media screen and (max-width: 360px){
      // font-size: .5rem !important;
      top: 5% !important;
    }
  }
  .third-slide{
    @media screen and (max-width: 1280px){
      font-size: 1.7rem !important;
      top: 15% !important;
    
    }
    @media screen and (max-width: 770px){
      font-size: 1rem !important;
      // top: 30% !important;
    }
    @media screen and (max-width: 500px){
      font-size: .7rem !important;
      top: 13% !important;
    }
    @media screen and (max-width: 360px){
      font-size: .5rem !important;
      top: 3% !important;
    }

  }
  // .center-butons{
  //   text-align: center !important;
  //   display: block;
  //   width: 100%;
  // }