.css-1u9des2-indicatorSeparator{
    border-color: #fff;
}
.testttt{
    max-width: 180px;
    border-color: #FF7A01;
    direction: rtl;
      margin: 0 10px 0 10px ;
      z-index:100000000000000000000;
}